@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(0, 63, 235);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(192, 100%, 43%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
   }

  #app {
  }
}
